<header class="header"> 
    <div class="container">
      <div class="header__containerr">
        <!-- навігація -->
        <nav class="header__nav">
          <a class="header__logo" href="./index.html"> 
            <svg class="header__svg" width="24" height="24">
              <!-- плівка  -->
              <use href="./images/sprite.svg#logocadr"></use>
            </svg>
            <span class="header__LogoTitle">cеріАль</span> 
          </a>
          <!-- менюшка зправа  --> 
          <ul class="header__list">
            <li class="header__item">
              <a href="./index.html" class="header__link header__link--current">Головна</a>
            </li>
            <li class="header__item">
              <a href="./library.html" class="header__link">Моя колекція</a>
            </li>
          </ul> 
        </nav>
<!-- пошуку дів  -->
        <div class="header__search-wrapp">  
          <!-- форма  -->
        <form class="header__search js-header__search">

          <input type="text" class="header__input js-header__input" name="searchQuery" placeholder="Пошук фільму" />
          <!-- видалялка -->
          <button class="btn-cross" type="button"> 
            <!-- пекмен  -->
            <svg class="header__icon-delete" width="14" height="14">
              <use href="./images/sprite.svg#packman"></use> 
            </svg>
          </button>
            <!-- відправка  -->
          <button class="btn" type="submit">
            <svg class="header__icon-search" width="14" height="14">     
              <use href="./images/sprite.svg#search"></use>
            </svg>
          </button>  
        </form>
        <!-- попредження??????????????????????????????????????  -->
        <div class="header__warning"></div>  
        </div>
      </div>
    </div>
    <!-- / container -->
</header>   

  


